.logo-container {
  z-index: 0;
  width: 400px;
  height: 610px;
  position: absolute;
  top: 0;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    transform: rotateZ(20deg) !important;
    z-index: 1;
  }
}

