.page {
    display: flex;
}

.select-channel-box {
    margin: auto auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .select-channel {
        .select-channel-title {
            h2 {
                margin-bottom: 20px;
                font-size: 24px;
                color: #FDD700;
            }
        }
    }
}

.select-channel-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-channel-item {
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.select-channel-item:hover {
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.5;
}

.select-channel-item-icon {
    margin-right: 10px;
    font-size: 24px;
    opacity: 0.8;

}

.select-channel-item-title {
    font-size: 18px;
    color: #fff;
    opacity: 0.8;
}
